@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$blue: #78c1f3;
$green: #9be8d8;
$salad: #e2f6ca;
$yellow: #f8fdcf;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $blue;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;

  button {
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-div {
    padding: 10px 15px;
    min-width: 85%;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  button {
    height: 30px;
    border-radius: 15px;
    background-color: $salad;
    border: 1px solid $green;
  }
  .input-area {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 20rem;
    .task-input {
      margin: 5px 0;
      height: 32px;
      border: 1px solid gold;
      border-radius: 5px;
    }
    .task-input:focus {
      outline: 1.5px solid gold;
    }
  }

  .list-div {
    margin: 2em 0px;
    display: block;
    background-color: $green;
    padding: 2em;
    border: 0 solid;
    border-radius: 15px;
    width: 60vw;

    &.hidden {
      display: none !important;
    }

    .todo-list {
      padding: 0;
    }

    .task-item {
      background-color: $yellow;
      display: flex;
      list-style: none;
      border-radius: 10px;
      padding: 5px;
      margin-bottom: 0.5em;

      .task-btn {
        border: none;
        background-color: #ffffff00;
      }
      .task-bullet {
        max-width: 15%;
        width: 55px;
        min-width: fit-content;
        margin: auto 5px;
      }
      .task-info {
        h3 {
          margin: 0.6em 0;
        }
        p {
          min-width: auto;
          max-width: 100%;
          visibility: visible;
          word-break: break-all;
          overflow: hidden;
          margin: 0.3em;
          max-height: 150px;
          transition: visibility 0.2s linear, max-height 0.2s linear,
            margin 0.2s linear;
        }
        &.hidden {
          p {
            visibility: hidden;
            max-height: 0;
            margin: 0;
          }
        }
      }
      .btn-group-div {
        display: flex;
        min-width: fit-content;
        margin-left: auto;
        align-items: center;
      }
    }
  }
}

.pop-up {
  display: flex;
  position: absolute;
  visibility: visible;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4140406c;
  justify-content: center;
  align-items: center;

  &.hidden {
    visibility: hidden !important;
  }
  .pop-up-container {
    display: flex;
    padding: 2rem;
    width: 425px;
    height: 150px;
    border-radius: 15px;
    justify-content: space-evenly;
    background-color: $yellow;

    .btn-area {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}

@media only screen and (max-width: 425px) {
  .form-div {
    margin: auto;
    flex-direction: column;
    button {
      margin: 0.2em auto;
      width: 50%;
    }
    .reset-btn {
      order: 3;
    }
  }
  .list-div {
    font-size: 12px;
    margin: 1em 0px !important;
    display: block;
    background-color: $green;
    padding: 0.25em !important;
    border: 0 solid;
    border-radius: 15px;
    width: 90vw !important;
  }
  .pop-up-container {
    width: 100% !important;
  }
}
